<h1 class = "page-header">
	About Rotaract
</h1>
<div class = "row">
	<div class = "col-md-3">
		<button class = "btn btn-info btn-block">Terms of Rotaract Club</button>
	</div>
	<div class = "col-md-9 text-justify">
		The Rotaract Club of VVP Engineering College was started in the year 2013. It has always acted as a responsible student organization whenever it came to the college student relations perspective. The moto of the club is not only to provide the students of VVP Engineering college with a parallel cultural platform to the departments but also provide them the experience of various activities, may that be of the social service or may that be of college level events or of the parent club Rotary Midtown events.
	</div>
</div>