<h2 class="page-header text-danger">Events and Activities of Rotaract</h2>
<div class = "row">
	<div class = "col-md-12">
		<div ng-repeat = "x in events track by $index">
			<blockquote>
			<h3 class = "text-primary">{{x.name}}</h3>
			<p style="text-indent:30px;">{{x.description  | cut:true:300:'...'}}
				<b class = "text-success"><button class = "btn btn-link" ng-click="goTo(x.id)">Read more about {{x.name}}</button></b>
			</p>
			</blockquote>
			<b class = "text-info text-center">This event was conducted on {{x.date}} at Rajkot</b>
			<summary>
				Photos of events
				<details>
			<div class="row">
			<div class = "col-md-3 postHolderCard img-rounded" ng-repeat="y in x.images track by $index">
				<div class="w3-card-2 w3-light-grey">	
					<div class ="img-holder"><img ng-src = "{{y.path}}" class = "img-responsive custom-img margin-auto"></div>
        			<div class = "w3-container text-center w3-dark-grey">
						&nbsp;
					</div>
				</div>
			</div>
			</div>
		</details>
	</summary>
			<hr>
			<hr>
</div>