<ul class = "nav navbar-nav nav-tabs" style="width:100%;">
	<li> <a ui-sref = "guest.welcome"><i class = "fa fa-home"></i> Home</a></li>
	<li> <a ui-sref = "guest.testimonials"><i class = "fa fa-quote-left"></i> Testimonials</a></li>
	<li> <a ui-sref = "guest.events"><i class = "glyphicon glyphicon-tasks"></i> Events and Activities</a></li>
	<li> <a ui-sref = "guest.postHolders"><i class = "fa fa-bookmark"></i> Post Holders</a></li>
	<li> <a ui-sref = "guest.about"><i class = "fa fa-university"></i> About</a></li>
	<li> <a ui-sref = "guest.contact"><i class = "fa fa-phone-square"></i> Contact Us</a></li>
</ul>