<ul class = "nav navbar-nav nav-tabs" ng-show="!$state.is('president.login')" style="width:100%;">
	<li> <a ui-sref = "president.welcome"><i class = "fa fa-home"></i> Home</a></li>
	<li> <a ui-sref = "president.testimonials"><i class = "fa fa-quote-left"></i> Testimonials</a></li>
	<li> <a ui-sref = "president.about"><i class = "fa fa-university"></i> About</a></li>
	<li> <a ui-sref = "president.contacts"><i class = "fa fa-phone-square"></i> Contact Us</a></li>
	<li> <a ui-sref = "president.compareAccounts"><i class =""></i> Compare Accounts</a></li>
	<button class = "btn btn-danger pull-right" ng-click="logout()"><i class = "glyphicon glyphicon-log-out"></i> Logout</button>
</ul>

