<ul class = "nav navbar-nav nav-tabs" style="width:100%;">
	<li> <a ui-sref = "president.welcome"><i class = "fa fa-home"></i> Home</a></li>
	<li> <a ui-sref = "president.testimonials"><i class = "fa fa-quote-left"></i> Testimonials</a></li>
	<li> <a ui-sref = "president.about"><i class = "fa fa-university"></i> About</a></li>
	<li> <a ui-sref = "president.contacts"><i class = "fa fa-phone-square"></i> Contact Us</a></li>
</ul>

<button class = "btn btn-danger pull-right" ng-click="logout()">Logout</button>
