<h2 class = "page-header text-danger">Add Expense</h2>
<div class = "row">
	<div class = "col-md-6">
		<form ng-init = "x = {}">
			<input type="text "  class = "form-control custom-form" placeholder = "Given to" ng-model = "x['name']" required>
		
			<select ng-model = "x['group']" placeholder="Group" class = "form-control custom-form" required>
				<option value="Decoration" selected="true" >Decoration</option>
				<option value="Socail Service">Social Service</option>
				<option value="Rent">Rent</option>
				<option value="Food">Food</option>
				<option value="Gifts/Certificates">Gifts/Certificates</option>
				<option value="Other">Other</option>

			</select>
			
			
			<input type="number" class = "form-control custom-form" placeholder = "Amount" ng-model = "x['amount']" required>
			<input type="text" class = "form-control custom-form" placeholder = "Details" ng-model = "x['details']">
			
			<div ng-if="dropvisible" ng-init="dropvisible=false">
				<div action="{{action}}" 
				class="dropzone" 
				drop-zone 
				call-back="myCallBackMethod(response)" 
				data-max="5" 
				auto-process="false" 
				message="Drop file here or click to select" 
				mimetypes=".doc,.docx,.pages,.pdf,.odt" 
				id="fileDropzone">
					
				</div>
			</div>
			
			<button class = "btn btn-success custom-form pull-right" type = "submit" ng-submit="addExpense(x)">Add</button>
			<div ng-if="dropvisible">
				<button class = "btn btn-success custom-form pull-right" type = "submit" ng-submit="navigate()">Done</button>
			</div>
		</form>
	</div>
</div>