<h2 class = "page-header text-danger">Add Message</h2>
<div class = "row">
	<div class = "col-md-6">
		<form ng-init = "x = {}" ng-submit = "addMessage(x)">
			<input type="text" class = "form-control custom-form" placeholder = "Name" ng-model = "x['name']">
			
			<select ng-model = "x['for']" ng-change="getXid(x['for'])" placeholder="For" class = "form-control custom-form">
				<option value="events" selected="true" >Event</option>
				<option value="postholders">Post Holder</option>
			</select>
			
			<select ng-show = "xids" ng-model = "x['xid']" class = "form-control custom-form">
				<option ng-repeat="y in xids" value="{{y.id}}">{{y.name}}</option>
			</select>
			
			<input type="text" class = "form-control custom-form" placeholder = "Message" ng-model = "x['message']">
			
			<button class = "btn btn-success custom-form pull-right" type = "submit">Add Message</button>
		</form>
	</div>
</div>