<h2 class = "page-header text-danger"> Events List</h2>
<div class="row">
	<div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">

		<table class = "table table-hover table-striped table-responsive table-bordered">
			<tr class="w3-blue">
				<th>Event Name</th>
				<th>Date </th>
				<th>Place</th>
				<th></th>
			</tr>
			<tr class="bg-primary" ng-hide="eventList">
				<td colspan=3>
					<h2 class="text-center "><i class="fa fa-refresh fa-spin"></i></h2>
				</td>
			</tr>
			<tr ng-repeat = "x in eventList">
				<td>{{x.name}}</td>
				<td>{{x.date}}</td>
				<td>{{x.place}}</td>
				<td class="text-center">
					<button class="btn btn-info btn-round" title="Edit" ng-click="editEvent(x.id)"><i class="fa fa-gears"></i></button>
					<button class = "btn btn-danger btn-round" title="Delete" ng-click="deleteEvent(x.id)">
					<i class="fa fa-trash"></i>
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>
