<h2>Join Rotaract Inquiries</h2>

<div class="row">
	<div class="col-md-10 col-xs-12 col-sm-12 col-md-offset-1 well w3-card">
		<table class="table table-responsive table-stirped table-bordered w3-white">
			<tr class="bg-primary">
				<th>Sr.No.</th>
				<th>Name</th>
				<th>Enrollment No.</th>
				<th>Department</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Date</th>
				<th>Status</th>

			</tr>
			<tr class="bg-primary" ng-hide="inquiry">
				<td colspan=8 class="text-center">
					<i class="fa fa-refresh fa-spin"></i>
				</td>
			</tr>
			<tr ng-repeat="x in inquiry">
				<td>{{$index + 1}}</td>
				<td>{{x.name}}</td>
				<td>{{x.enroll}}</td>
				<td>{{x.dept}}</td>
				<td>{{x.phone}}</td>
				<td>{{x.email}}</td>
				<td>{{x.date}}</td>
				<td class="text-center" ng-show="x.status == 'unattended'">
					<button class="btn btn-info img-rounded btn-block btn-lg" ng-click="update(x.id)" title="Dismiss">
						<i class="fa fa-edit fw"></i>
					</button>
				</td>
				<td class="text-center" ng-hide="x.status == 'unattended'">
					<span class="btn-block btn-lg "><i class="fa fa-check text-primary"></i></span>
				</td>
			</tr>
		</table>
	</div>
</div>