<h1 class = "page-header text-danger">Treasurer Login</h1>

<div class = "row">
	<div class = "col-md-4">
	</div>
	<div class = "col-md-4">
		<div class = "well">
		<form ng-submit = "login(x)" onsubmit="validate(this)" ng-init = "x = {}">
			<input type="text" class="form-control" name="username" placeholder="User Name"  ng-model = "x['username']">
			<label id="usernameMsgReq" style="display:none">Please enter the username.</label>
			<input type="password" class="form-control" name="password" placeholder="Password"  ng-model = "x['password']">
			<button type = "submit" class="btn btn-success btn-sm">Login</button>
		</form>
	</div>
	</div>
	<div class = "col-md-4">
	</div>
</div>