<ul class = "nav navbar-nav nav-tabs" style="width:100%;" ng-show="!$state.is('treasurer.login')">
				<li> <a href = "javascript:void(0);" ui-sref="treasurer.welcome"><i class="fa fa-home"></i> Home</a></li>
				<li> <a href = "javascript:void(0);" ui-sref="treasurer.listPostholders"><i class="fa fa-bookmark"></i> Post Holders</a></li>
				<li> <a href = "javascript:void(0);" ui-sref="treasurer.addEvent"><i class = "glyphicon glyphicon-tasks"></i> Events</a></li>
				<li> <a href = "javascript:void(0);" ui-sref="treasurer.manageAccounts"><i class = "glyphicon glyphicon-tasks"></i> Manage Accounts</a></li>
				<li> <a href = "#">Contact Us</a></li>
				<button class = "btn btn-danger pull-right" ng-click="logout()"><i class = "glyphicon glyphicon-log-out"></i> Logout</button>
</ul>
