<h2 class="page-header text-danger">Add Event</h2>
<style>
	.custom-form{
		width: 80%;
		margin:5px;
		margin-left: 0px;
	}
</style>

<div class="row">
	<div class = "col-md-2"></div>
	<div class = "col-md-8">
		
			<form ng-submit = "addEvent(x)" ng-init = "x = {}">
				<input type = "text" class = "form-control custom-form" ng-model = "x['eventName']" placeholder="Event Name" data-toggle="tooltip" data-placement="right" title="Name of Event">
				<textarea class = "form-control custom-form" placeholder="Event Description" ng-model = "x['eventDescription']" data-toggle="tooltip" data-placement="right" title="Description"></textarea>
				<input type="date" ng-model="x['eventDate']" class="form-control custom-form" data-toggle="tooltip" data-placement="right" title="Date of Event">
				<input type="place" ng-model="x['eventPlace']" class="form-control custom-form" data-toggle="tooltip" data-placement="right" placeholder="Place of Event" title="Place of event">
				<button class = "btn btn-success">Create Event</button>
			</form>
			
		
	</div>
</div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>