<h2>Manage Accounts</h2>
<div class="row">
	<div class="col-md-4">
		<button class = "btn btn-block btn-lg btn-primary" ng-click="goTo('treasurer.addExpense')">
			<i class="fa fa-plus"></i> &nbsp;Add Expense
		</button>
	</div>
	<div class="col-md-4">
		<button class = "btn btn-block btn-lg btn-primary" ng-click="goTo('treasurer.addIncome')">
				<i class="fa fa-plus"></i> &nbsp;Add Income
			</button>
	</div>
	<div class="col-md-4">
		<button class = "btn btn-block btn-lg btn-primary" ng-click="goTo('treasurer.viewAccount')">
			<i class="fa fa-eye"></i> &nbsp;View Account
		</button>
	</div>
</div>